<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1762">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/southwest-link-jewellers-logo2.jpg" alt="logo" width="240" height="32">
            </a>
            <p class="cs-text">
                Trusted jewellers in Bristol, crafting beautiful pieces and delivering expert services across the city.
            </p>
            <div class="cs-contact">
                <div class="cs-contact-info">
                    <span class="cs-topper">Email us anytime</span>
                    <a href="mailto:SouthwestLinkJewellers@gmail.com" class="cs-contact-link">SouthwestLinkJewellers@gmail.com</a>
                </div>
                <div class="cs-contact-info">
                    <span class="cs-topper">Visit our location</span>
                    <a href="https://maps.app.goo.gl/i1H7RmNxfXBcfbBj6" target="_blank" class="cs-contact-link">Storage Giant <br>Southwest Link Jewellers<br>821 Bath Road<br>BS4 5NL</a>
                </div>
            </div>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Our Services</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="/our-collection">Unique Jewellery Collection</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/our-collection">Custom Jewellery Design</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/services">Repairs & Restorations</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/services">Watch Services</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/services">Buy & Sell</a>
                </li>
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <span class="cs-header">Follow Us</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="https://www.instagram.com/southwestlinkjewellers/" target="_blank">Instagram</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="https://www.facebook.com/profile.php?id=100088561135765&ref=_ig_profile_ac" target="_blank">Facebook</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="https://www.snapchat.com/add/southwestlinkuk?invite_id=XWI_wvHz&locale=en_GB&share_id=nzWGrsaXTymBslUb-SlF3w&xp_id=1&sid=0025d6f97af6424784770644c62263be&fbclid=PAZXh0bgNhZW0CMTEAAaeNydy4wMsvzeAeqpGVNByrgL1o5yiGi4MYx-piIahZovC2KW1O1vyzoWrgHA_aem_qMkEzv7EqV0N1FQY3ZMzlA" target="_blank">Snapchat</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="https://www.tiktok.com/@southwestlinkuk" target="_blank">TikTok</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="https://www.ebay.co.uk/usr/southwestlink?stype=1&widget_ver=artemis&media=COPY" target="_blank">Ebay</a>
                </li>
            </ul>
        </div>
        <table class="cs-table">
            <tbody>
                <tr>
                    <th scope="row">Monday</th>
                    <td>12.00pm - 7.00pm</td>
                </tr>
                <tr>
                    <th scope="row">Tuesday</th>
                    <td>12.00pm - 7.00pm</td>
                </tr>
                <tr>
                    <th scope="row">Wednesday</th>
                    <td>12.00pm - 7.00pm</td>
                </tr>
                <tr>
                    <th scope="row">Thursday</th>
                    <td>12.00pm - 7.00pm</td>
                </tr>
                <tr>
                    <th scope="row">Friday</th>
                    <td>12.00pm - 7.00pm</td>
                </tr>
                <tr>
                    <th scope="row">Saturday</th>
                    <td>12.00pm - 6.00pm</td>
                </tr>
                <tr>
                    <th scope="row">Sunday</th>
                    <td>12.00pm - 4.00pm</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright <span id="cs-year">2025</span> - <a href="/" class="cs-credit-link" target="_blank">Southwest Link Jewellers</a> | Developed by <a href="https://hussainwebdesigns.co.uk" class="cs-credit-link" target="_blank">Hussain Web Designs</a>
        </span>
    </div>
    <script>
        // Automatically update copyright year
        document.getElementById('cs-year').textContent = new Date().getFullYear();
    </script>
</footer>                     