---
title: "Contact Us | Southwest Link Jewellers"
description: "Contact Southwest Link Jewellers for expert advice, free valuations, or to book a consultation. We're here to help with all your jewellery needs and answer any questions you may have."
permalink: "contact/"
bodyClass: "contact-page"
eleventyNavigation:
  key: Contact Us
  order: 700
  hideOnDesktop: true
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/contact.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1426">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h1 class="cs-title">Get In Touch</h1>
            <p class="cs-text">
                Visit our Bristol showroom, call for expert advice, or send us a message. We're here to help with all your jewellery needs and answer any questions you may have.
            </p>
            <div class="cs-button-group">
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1750">
    <div class="cs-container">
        <div class="cs-form-group">
            <div class="cs-content">
                <span class="cs-topper">Get in Touch</span>
                <h2 class="cs-title">Contact Us</h2>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-1750" name="Contact Form" method="post" action="/thank-you/" data-netlify >
                <label class="cs-label">
                    Name *
                    <input class="cs-input" required type="text" id="name-1750" name="name" placeholder="Your Name">
                </label>
                <label class="cs-label cs-email">
                    Email *
                    <input class="cs-input" required type="email" id="email-1750" name="email" placeholder="Your Email">
                </label>
                <label class="cs-label cs-phone">
                    Phone *
                    <input class="cs-input" required type="phone" id="phone-1750" name="phone" placeholder="01234 567 890">
                </label>
                <label class="cs-label">
                    Message *
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1750" placeholder="Hello, I am interested in..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
            </form>
        </div>
        <!--Contact Info-->
        <div class="cs-info-group">
            <div class="cs-info">
                <span class="cs-topper">Location</span>
                <span class="cs-detail">Storage Giant <br> Southwest Link Jewellers <br> 821 Bath Road <br> BS4 5NL</span>
            </div>
            <div class="cs-info">
                <span class="cs-topper">Working Hours</span>
                <span class="cs-detail">Monday - Friday: 12PM - 7PM</span>
                <span class="cs-detail">Saturday: 12PM - 6PM</span>
                <span class="cs-detail">Sunday: 12PM - 4PM</span>
            </div>
            <div class="cs-info">
                <span class="cs-topper">Contact</span>
                <span class="cs-detail">E: SouthwestLinkJewellers@gmail.com</span>
            </div>
        </div>
    </div>

    <div class="cs-picture-group">
        <!-- Google Maps Embed for Storage Giant Bristol -->
        <iframe class="cs-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2487.517288689547!2d-2.5401119999999997!3d51.430293299999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48718f2b6598f20b%3A0x4f6f3d88098f8b31!2sStorage%20Giant%20Self%20Storage%20Bristol!5e0!3m2!1sen!2suk!4v1749829044270!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>                          

{% endblock %}