/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-998 {
        min-height: 100vh;
        /* 144px - 280px */
        padding: clamp(9rem, 25.95vw, 17.5rem) (16/16rem);
        padding-top: 200px;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
        }

        .cs-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .cs-topper {
            /* 16px - 31px */
            font-size: clamp(1rem, 4.3vw, 1.9375rem);
            white-space: nowrap;
            line-height: 1.2em;
            width: 100%;
            /* 12px - 24px */
            margin: 0 0 clamp(0.75rem, 3vw, 1.5rem);
            color: var(--bodyTextColorWhite);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: relative;
            gap: (16/16rem);

            &:before {
                /* left line */
                content: "";
                width: 100%;
                max-width: (100/16rem);
                height: 2px;
                background: var(--primary);
                opacity: 1;
                position: relative;
                display: block;
            }

            &:after {
                /* right line */
                content: "";
                width: 100%;
                max-width: (100/16rem);
                height: 2px;
                background: var(--primary);
                opacity: 1;
                position: relative;
                display: block;
            }
        }

        .cs-logo {
            width: 100%;
            max-width: (614/16rem);
            margin: 0 0 (24/16rem) 0;
            display: block;

            img {
                width: 100%;
                height: auto;
            }
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1vw, 1.25rem);
            line-height: 1.5em;
            text-align: center;
            max-width: 518/16rem;
            /* 24px - 48px */
            margin: 0 0 clamp(1.5rem, 3vw, 3rem) 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #000;
                opacity: 0.8;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Desktop Parallax - 1400px */
@media only screen and (min-width: 87.5rem) {
    #hero-998 {
        .cs-background {
            background: url("/assets/images/office.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            /* makes parallax effect */
            background-attachment: fixed;
            img {
                display: none;
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-598 {
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            /* moved section padding to cs-content so the cs-background can be full width */
            padding: var(--sectionPadding);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-background {
            display: block;
            position: relative;
            width: 100%;
            height: (256/16rem);
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-598 {
        /* 90px - 150px */
        /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
        padding: clamp(5.625rem, 9vw, 9.375rem) (16/16rem);
        .cs-container {
            flex-direction: row;
            justify-content: flex-end;
        }

        .cs-background {
            width: 50%;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 50%;
        }

        .cs-content {
            width: 45%;
            padding: 0;
        }
    }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
  #services-2387 {
      padding: var(--sectionPadding);
      background-color: #FBF9F5;

      .cs-container {
          width: 100%;
          max-width: (1280/16rem);
          margin: auto;
          /* 24px - 64px top & bottom */
          /* 16px - 64px left & right */
          padding: clamp(1.5rem, 4vw, 3.75rem) clamp(1rem, 4vw, 3.75rem);
          box-sizing: border-box;
          background-color: #fff;
          border-radius: (16/16rem);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          /* 40px - 48px */
          gap: clamp(2.5rem, 5vw, 3rem);
      }

      .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: center;
          width: 100%;
          max-width: (1060/16rem);
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: center;
      }

      .cs-text {
          max-width: 100%;
      }

      .cs-wrapper {
          display: flex;
          flex-direction: column;
          /* 16px - 20px */
          gap: clamp(1rem, 2.3vw, 1.25rem);
      }

      .cs-card-group {
          padding: 0;
          margin: 0;
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          /* 16px - 20px */
          gap: clamp(1rem, 2.3vw, 1.25rem);
      }

      .cs-item {
          text-align: left;
          list-style: none;
          /* 24px - 32px top & bottom */
          /* 16px - 32px left & right */
          padding: clamp(1.5rem, 3vw, 2rem) clamp(1rem, 3vw, 2rem);
          background-color: #FBF9F5;
          border-radius: (16/16rem);
          display: flex;
          grid-column: span 12;
          flex-direction: column;
          align-items: flex-start;
      }

      .cs-h3 {
          /* 20px - 25px */
          font-size: clamp(1.25rem, 4vw, 1.5625rem);
          line-height: 1.2em;
          font-weight: 700;
          /* 24px - 32px */
          margin: 0 0 clamp(1.5rem, 3vw, 2rem);
          /* 48px - 64px */
          padding-bottom: clamp(3rem, 7vw, 4rem);
          border-bottom: 1px solid #D2D8DF;
          color: var(--headerColor);
      }

      .cs-item-text {
          font-size: var(--bodyFontSize);
          line-height: 1.5em;
          margin: 0 0 (32/16rem);
          color: var(--bodyTextColor);
      }

      .cs-link {
          font-size: var(--bodyFontSize);
          text-decoration: none;
          line-height: 1.5em;
          font-weight: 700;
          margin: auto 0 0 0;
          color: var(--primary);
          position: relative;
          z-index: 1;

          &:before {
              content: '';
              width: 100%;
              height: 1px;
              background: currentColor;
              opacity: 1;
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
          }
      }

      .cs-picture {
          width: 100%;
          height: 100vw;
          max-height: (400/16rem);
          border-radius: (16/16rem);
          /* clips image corners */
          overflow: hidden;
          display: block;
          position: relative;
          z-index: 1;
          order: -1;

          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: absolute;
              top: 0;
              left: 0;
          }
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-2387 {
      .cs-item {
          grid-column: span 6;
      }

      .cs-h3 {
          /* 96px - 128px */
          min-height: clamp(6rem, 10vw, 8rem);
          padding-bottom: (24/16rem);
      }

      .cs-picture {
          height: 33vw;
      }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-2387 {
      .cs-wrapper {
          flex-direction: row;
          align-items: stretch;
      }

      .cs-picture {
          width: 30vw;
          max-width: (400/16rem);
          height: auto;
          max-height: 100%;
          /* prevents flexbox from squishing it */
          flex: none;
      }
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-506 {
      padding: var(--sectionPadding);
      background-color: #f7f7f7;

      .cs-container {
          width: 100%;
          /* changes to 1104px at tablet */
          max-width: (550/16em);
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* 48px - 64px */
          gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: left;
          width: 100%;
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: flex-start;
      }

      .cs-title {
          max-width: 20ch;
      }

      .cs-text {
          max-width: (504/16rem);

          &:before {
              /* divider line */
              content: "";
              width: (125/16rem);
              height: 3px;
              margin-bottom: (16/16rem);
              background: var(--primary);
              opacity: 1;
              display: block;
              position: relative;
          }
      }

      .cs-card-group {
          width: 100%;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: stretch;
          flex-wrap: wrap;
          flex-direction: column;
          /* 16px - 20px */
          gap: clamp(1rem, 1.5vw, 1.25rem);
      }

      .cs-item {
          list-style: none;
          width: 100%;
          margin-right: 0;
          /* 24px - 28px top & bottom */
          /* 16px - 40px left & right */
          padding: clamp(1.5rem, 4vw, 1.75rem) clamp(1rem, 3vw, 2.5rem);
          border-bottom: 8px solid var(--primary);
          box-shadow: 0px 19px 33px rgba(94, 94, 94, 0.13);
          /* prevents padding and border from affecting height and width */
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
      }

      .cs-icon {
          width: auto;
          height: (70/16rem);
          margin-bottom: (40/16rem);
      }

      .cs-h3 {
          /* 25px - 31px */
          font-size: clamp(1.5625rem, 2.5vw, 1.9375rem);
          font-weight: 900;
          text-align: left;
          text-transform: uppercase;
          line-height: 1.2em;
          margin: 0;
          margin-bottom: (16/16rem);
          color: var(--headerColor);
      }

      .cs-item-text {
          font-size: (16/16rem);
          text-align: left;
          line-height: 1.5em;
          margin: 0;
          color: var(--bodyTextColor);
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-506 {
      .cs-container {
          max-width: (1280/16rem);
      }

      .cs-content {
          flex-direction: row;
          justify-content: center;
          align-items: center;
      }

      .cs-flex {
          width: 50%;
          max-width: (550/16rem);
          flex: none;
      }

      .cs-topper,
      .cs-title {
          text-align: right;
      }

      .cs-title {
          margin: 0;
      }

      .cs-text {
          display: flex;
          justify-content: center;
          align-items: center;
          &:before {
              width: 3px;
              height: (125/16rem);
              /* 24px - 28px */
              margin: 0 clamp(1.5rem, 3vw, 1.75rem);
              /* prevents flexbox from squishing it */
              flex: none;
          }
      }

      .cs-card-group {
          /* using grid here so we can have a perfect 2x2, it's really hard to do that with flexbox */
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          /* makes sure all boxes are the same height even when they have mroe or less content inside of them */
          align-items: stretch;
          gap: (20/16rem);
      }

      .cs-item {
          grid-column: span 6;
      }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-506 {
      .cs-item {
          grid-column: span 3;
      }
  }
}